extends layout



block content
	a(href="https://api.instagram.com/oauth/authorize/?client_id=a2e917d3994946dcbab69bb9f0942f28&redirect_uri=http://insta.feed:3000/instagram&response_type=token&scope=public_content") Google

